@keyframes rainbow {
    0% {background-color: #7F7E7E;}
    15% {background-color: #FF3C49;}
    30% {background-color: #FF9650;}
    45% {background-color: #FFE15A;}
    60% {background-color: #88FF55;}
    75% {background-color: #55E8FF;}
    90% {background-color: #4693FF;}
    100% {background-color: #9946FF;}
}

@keyframes jump {
    75% {margin-top: 50px;}
    100% {margin-top: 0px;}
}

body {
    background-color: #7F7E7E;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    margin: 8px;
    padding: 0px;
    //animation-name: rainbow;
    //animation-duration: 10s;
    //animation-iteration-count: infinite;
}

p {
    text-align: center;
    padding: 25px 8px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    line-height: 16px;
    //animation-name: jump;
    //animation-duration: 3s;
    //animation-iteration-count: infinite;
}

img {
    float: left;
    width: 75px;
    height: 75px;
}